header {
    background-color: $clr101;
    padding: 10px;
    padding-inline-end: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding-top: 7px;
    }
    nav {
       color: $White;
       gap: 35px;
       .route-btn {
        font-size: 14px;
       }
    }
    
}
