* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    line-height: 1.6;
}

body {
  background-color: $clr101;
}

// h1, h2, h3, h4, h5, h6 {
//     font-family: caveat;
//     margin: 0 0 0.6em;
//     line-height: 1;
// }




// img {
//     width: 100%;
// }

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

