// Colors
// primary
// - Dark Blue (intro and email sign up background): 
$clr101: hsl(217, 28%, 15%);
// - Dark Blue (main background): 
$clr102: hsl(218, 28%, 13%);
// - Dark Blue (footer background): 
$clr103: hsl(216, 53%, 9%);
// - Dark Blue (testimonials background): 
$clr104: hsl(219, 30%, 18%);

// Accent

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);

// Neutral

$White: hsl(0, 0%, 100%);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;